/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

<style>

    @font-face {
        font-family: "Computer Modern";
        font-weight: bold;
        font-style: oblique;
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunso.otf');
    }
    
    @font-face {
        font-family: "Computer Modern";
        font-style: oblique;
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunsi.otf');
    }

    @font-face {
        font-family: "Computer Modern";
        font-weight: bold;
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunsx.otf');
    }

    @font-face {
        font-family: "Computer Modern";
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunss.otf');
    }


    div.input {
        width: 100%; /* about 80 chars + buffer */
    }

    div.cell{
        max-width:80%;
        margin-left:auto;
        margin-right:auto;
    }

    h1 {
        text-align:center;
        font-family: Helvetica, serif;
    }


    div.text_cell_render {
    /*font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
        font-family: Computer Modern, "Charis SIL", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        line-height: 145%; /* added for some line spacing of text. */
        width: 100%; /* instead of 'inherit' for shorter lines */
        font-size: 140%;
    }

.CodeMirror{font-family: Ubuntu Mono, "Source Code Pro", source-code-pro, monospace;}

.cm-s-ipython.CodeMirror {
	line-height: 1.5;
	font-family: Ubuntu Mono;
	font-size: 100%;
}

.cm-s-ipython.CodeMirror {background: #2d2d2d; color: #e8e6df;}
.cm-s-ipython div.CodeMirror-selected {background: #393939 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #2d2d2d; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #747369;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #a09f93 !important;}

.cm-s-ipython span.cm-comment {color: #d27b53;}
.cm-s-ipython span.cm-atom {color: #cc99cc;}
.cm-s-ipython span.cm-number {color: #cc99cc;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #99cc99;}
.cm-s-ipython span.cm-keyword {color: #f2777a;}
.cm-s-ipython span.cm-string {color: #ffcc66;}
.cm-s-ipython span.cm-operator {color: #d27b53;}
.cm-s-ipython span.cm-builtin {color: #cc99cc;}

.cm-s-ipython span.cm-variable {color: #99cc99;}
.cm-s-ipython span.cm-variable-2 {color: #6699cc;}
.cm-s-ipython span.cm-def {color: #f99157;}
.cm-s-ipython span.cm-error {background: #f2777a; color: #a09f93;}
.cm-s-ipython span.cm-bracket {color: #d3d0c8;}
.cm-s-ipython span.cm-tag {color: #f2777a;}
.cm-s-ipython span.cm-link {color: #cc99cc;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #e8e6df !important;}

</style>
